<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">  
	<display-name>Inquiries</display-name>
 	<servlet>
        <servlet-name>Inquiries</servlet-name>
        <servlet-class>com.bluebird.servlet.Inquiries</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inquiries</servlet-name>
        <url-pattern>/inquiries</url-pattern>
        <url-pattern>/inquiries/*</url-pattern>        
    </servlet-mapping>      
    <servlet>
        <servlet-name>InquirySearch</servlet-name>
        <servlet-class>com.bluebird.servlet.InquirySearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InquirySearch</servlet-name>
        <url-pattern>/inquirySearch</url-pattern>
        <url-pattern>/inquirySearch/*</url-pattern>       
        <url-pattern>/search/*</url-pattern>       
    </servlet-mapping> 
</web-app>